@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(0, 0, 0);
  background: linear-gradient(to bottom, transparent, #e2e5ff)
  #fafcff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.ruslan-display-regular {
  font-family: "Ruslan Display", sans-serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar{
  display: none ;
}

.data::-webkit-scrollbar {
  width: 8px;
  display: block;
}

::-webkit-scrollbar-thumb {
  background: rgb(25, 25, 37); 
  border-radius: 10px;
}


